#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 60px;
}

#question {
    font-size: 50px;
}

#answer {
    font-size: 40px;
    color: white;
}

#instructions {
    font-size: 32px;
}

button {
    width: 200px;
    height: 150px;
}